p, label {
    font-family: "Roboto";
}

span {
    color: var(--internationnal-orange);
    font-weight: bold;
}

h1, h2, h3 {
    font-family: "Gotham";
}

#contentSmall {
    text-align: center;
}

#contentSmall input, #contentSmall textarea {
    width: 90%;
}

#contentSmall input[type="radio"], #contentSmall input[type="checkbox"] {
    text-align: left !important;
    width: auto;
}

#contentSmall label, #contentSmall p {
    text-align: left;
}

#contentMedium h1 {
    margin-left: 3em !important;
    margin-top: 1em !important;
}

#mainImage img, #secondaryImages img{
    border-top:2px solid lightgrey;
    border-bottom:2px solid rgb(181, 181, 181);
    border-left:2px solid lightgrey;
    border-right:2px solid rgb(181, 181, 181);
    transform: translateY(-5px);
}

#mainImage img:hover, #secondaryImages img:hover{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    #mainImage {
        margin-bottom: 2em;
    }
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    accent-color: var(--purple-jam);
}

::placeholder {
    font-style: italic;
}

.dropdown-toggle {
    float: right !important;
}

#poster, #poster_small {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--purple-jam);
    border: none;
    font-family: "Roboto";
    color: white;
    font-size: 18pt;
    font-weight: 500;
    margin-top: 2.2em;
}

.SelectionDiv {
    background-color: white !important;
    border: 1px solid var(--purple-jam) !important;
    color: var(--purple-jam) !important;
    font-weight: bold !important;
    font-size: large !important;
}

.SelectionDivInvert {
    background-color: var(--purple-jam) !important;
    border: 1px solid white !important;
    color: white !important;
    font-weight: bold !important;
    font-size: large !important;
}

a:link {
    color: var(--purple-jam);
}

.sliderButton {
    width: 8vw;
    border: none;
    background-color: white;
    text-align: justify;
    font-size: x-large;
    color: var(--purple-jam)
}

input, textarea {
    margin-bottom: 1.3em !important;
    border: 1px solid var(--purple-jam);
    border-radius: 10px;
}

textarea {
    resize: none;
}

.dropdown-item, li label, li a {
    color: var(--purple-jam) !important;
    font-weight: 500 !important;
}

ul {
    list-style-type: none;
}