:root {
    --purple-jam: #6E0E83;
    --internationnal-orange: #FF500B;
    --white: white;
}

.rubanorange{
    background-color: var(--internationnal-orange);
    padding: 1%;
}

.boite{
    color: var(--white);
    background-color: var(--purple-jam);
    text-align: center;
}

#filter{
    padding-left: 2em;
    padding-right: 2em;
}

.nombregrand{
    width: 5vw;
}

.nombrepetit{
    width: 3vw;
}

#filter{
    color: var(--white);
    margin-top: 2em;
    background-color: var(--internationnal-orange);
}

.box{
    color: var(--internationnal-orange);
    padding-top: 1em;
}