:root {
    --purple-jam: #6E0E83;
    --internationnal-orange: #FF500B;
    --white: white;
}

.rubanorange{
    background-color: var(--internationnal-orange);
    padding: 1%;
}

.boite{
    color: var(--white);
    background-color: var(--purple-jam);
    text-align: center;
}