:root {
    --purple-jam: #6E0E83;
    --internationnal-orange: #FF500B;
    --white: white;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Gotham";
    src: url(../fonts/Gotham-Medium.otf);
}

header {
    background-color: var(--purple-jam);
}

#searchbar {
    background-color: var(--white);
    height: 3em;
    padding: 0px;
}

#searchbar input {
    height: 3em;
    border: none;
}

#searchbar input::placeholder {
    font-family: "Roboto";
    color: var(--purple-jam);
}

#searchButton {
    float: right;
    border: none;
    height: 3em;
    background-color: transparent;
}

.ovalegrand,.ovalepetit{
    border-radius: 100%;
    background: var(--internationnal-orange);
    color: var(--white);

}

.ovalegrand{
    width: 20vw;
    height: 5vh;
}

.ovalepetit{
    width: 5vw;
    height: 3vh ;
    font-size: smaller;
}

header div a{
    color: var(--white);
    text-decoration: none;
}

header div a:hover{
    color: var(--purple-jam);
    text-decoration: underline;
}